*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Iosevka Proggy', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input {
  font-size: 1.4rem;
  padding: 5px 10px;

  outline: 1px solid black;
}

input:focus {
  background-color: antiquewhite;
}

button {
  font-size: 1.4rem;
  padding: 5px 10px;
}

main {
  width: 500px;
  margin-inline: auto;
}
